[Unit]
Description=Lookup IP addresses of docker containers via DNS

[Service]
User=nobody
Group=docker
ExecStart=/usr/bin/dons 127.0.0.1:8053

[Install]
WantedBy=multi-user.target